<h2>Schedule</h2>

<h3>Friday, 13 October 2023</h3>

<h4>Crown of Servers team tournament</h4>
<p>09:00  Venue doors open; Crown of Servers team registration opens</p>
<p>10:00 Crown of Servers team registration closes; welcome speech; player meeting; explanation of the format</p>
<p>10:20 Round 1 pairings posted</p>
<p>10:30 Round 1 begins</p>
<p>13:15 Lunch break</p>
<p>14:30 Round 3 pairings posted</p>
<p>14:45 Round 3 begins</p>
<p>18:35 Final round ends</p>
<p>18:40 Recap of Day 1; congratulations to the winning team; closing announcements</p>

<h3>Saturday, 14 October 2023</h3>

<h4>Standard format - Swiss rounds (double-sided)</h4>
<p>09:00 Venue doors open; registration opens</p>
<p>09:30 Welcome speech; player meeting</p>
<p>09:50 Round 1 pairings posted</p>
<p>10:00 Round 1 begins</p>
<p>14:15 Lunch break</p>
<p>15:30 Round 4 pairings announced</p>
<p>15:45 Round 4 begins</p>
<p>21:20 Round 7 (final round of the day) ends</p>
<p>21:30 Recap of Day 2; closing announcements</p>
<p>22:00 Venue officially closed</p>

<h4>Startup format - Swiss rounds (single-sided)</h4>
<p>9:00 Venue doors open; registration opens</p>
<p>9:10 Welcome speech</p>
<p>9:15 Explanation of Day 3</p>
<p>9:40 Registration closes</p>
<p>9:45 Player meeting</p>
<p>9:50 Round 1 pairings posted</p>
<p>10:00 Round 1 begins</p>
<p>12:30 Round 3 ends; special announcement</p>
<p>12:40 Lunch break</p>
<p>13:20 Round 4 pairings posted</p>
<p>13:30 Round 4 begins</p>
<p>19:20 Round 10 (final round) ends</p>
<p>19:30 Congratulations to the Startup Champion</p>
