<style>

table.schedule {
  border: 1px solid black;
  border-collapse: collapse;
  margin-top: 2rem;
}
table.schedule td {
  border: 1px solid black;
  text-align: center;
  padding: 0 10px;
}
table.schedule td.busy {
  background-color: #cde6f2;
  overflow: hidden;
  padding: 0.5rem;
}
table.schedule td.busy a {
  display: block;
  margin: -10em;
  padding: 10em;
  color: #0e1b4d;
}
table.schedule td.break {
  background-color: #ffb;
}
table.schedule td.day {
  padding: 2rem;
  font-weight: bold;
  font-size: 2rem;
}
table.schedule tr:hover {
  background-color: #cfc;
}
table.schedule ul {
  list-style: none;
}
</style>

<h2>Schedule</h2>

<h3 id="day-13">Friday, 13 October 2023</h3>

<table class="schedule">
    <thead>
        <tr><th colspan="2">Crown of Servers team tournament</th></tr>
        <tr>
            <th>Hour</th>
            <th>Event</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>09:00</td>
            <td>
                <ul>
                    <li>Venue doors open</li>
                    <li>Crown of Servers team registration opens</li>
                </ul>
            </td>
        </tr>

        <tr>
            <td>10:00</td>
            <td>
                <ul>
                    <li>Crown of Servers team registration closes</li>
                    <li>Welcome speech</li>
                    <li>Player meeting</li>
                    <li>Explanation of the format</li>
                </ul>
        </tr>
        <tr>
            <td>10:20</td>
            <td>Round 1 pairings posted</td>
        </tr>
        <tr>
            <td>10:30</td>
            <td>Round 1 begins</td>
        </tr>
        <tr>
            <td>13:15</td>
            <td class="break">Lunch break</td>
        </tr>
        <tr>
            <td>14:30</td>
            <td>Round 3 pairings posted</td>
        </tr>
        <tr>
            <td>15:15</td>
            <td>Round 3 begins</td>
        </tr>
        <tr>
            <td>19:05</td>
            <td>Final round ends</td>
        </tr>
        <tr>
            <td>19:10</td>
            <td>
                <ul>
                    <li>Recap of Day 1</li>
                    <li>Congratulations to the winning team</li>
                    <li>Closing announcements</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<h3 id="day-14">Saturday, 14 October 2023</h3>

<table class="schedule">
    <thead>
        <tr><th colspan="2">Standard format - Swiss rounds (double-sided)</th></tr>
        <tr>
            <th>Hour</th>
            <th>Event</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>09:00</td>
            <td>Venue doors open; registration opens</td>
        </tr>
        <tr>
            <td>09:30</td>
            <td>Welcome speech; player meeting</td>
        </tr>
        <tr>
            <td>09:50</td>
            <td>Round 1 pairings posted</td>
        </tr>
        <tr>
            <td>10:00</td>
            <td>Round 1 begins</td>
        </tr>
          <tr>
            <td>14:15</td>
            <td>Round 3 begins</td>
        </tr>
        <tr>
            <td>15:25</td>
            <td>Round 3 ends</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="break">Lunch break</td>
        </tr>
        <tr>
            <td>16:30</td>
            <td>Round 4 pairings announced</td>
        </tr>
        <tr>
            <td>16:35</td>
            <td>Round 4 begins</td>
        </tr>
        <tr>
            <td>20:30</td>
            <td>Round 6 (final round of the day) ends</td>
        </tr>
        <tr>
            <td>21:00</td>
            <td>
                <ul>
                    <li>Recap of Day 2</li>
                    <li>Closing announcements</li>
                </ul>
        </tr>
        <tr>
            <td>22:00</td>
            <td>Venue officially closed</td>
        </tr>
    </tbody>
</table>

<h3 id="day-15">Sunday, 15 October 2023</h3>


<table class="schedule">
    <thead>
        <tr><th colspan="2">Standard format - Swiss rounds (double-sided)</th></tr>
        <tr>
            <th>Hour</th>
            <th>Event</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>8:30</td>
            <td>
                <ul>
                    <li>Venue doors open</li>
                    <li>Registration opens</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>9:00</td>
            <td>Round 7 pairings </td>
        </tr>
        <tr>
            <td>9:05</td>
            <td>Round 7 begins</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&tilde;</td>
        </tr>
        <tr>
            <td>11:50</td>
            <td>Round 9 pairings</td>
        </tr>
        <tr>
            <td>12:00</td>
            <td>Round 9 begins</td>
        </tr>
        <tr>
            <td>13:05</td>
            <td>Round 9 ends</td>
        </tr>
        <tr>
            <td>13:30</td>
            <td>Top 16 announcements</td>
        </tr>
        <tr>
            <td></td>
            <td class="break">Lunch break</td>
        </tr>
        <tr>
            <td>14:30</td>
            <td>Special announcement</td>
        </tr>
        <tr>
            <td>14:40</td>
            <td>Top 16 begins</td>
        </tr>
    </tbody>
</table>

<table class="schedule">
    <thead>
        <tr><th colspan="2">Startup format - Swiss rounds (single-sided)</th></tr>
        <tr>
            <th>Hour</th>
            <th>Event</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>8:30</td>
            <td>
                <ul>
                    <li>Venue doors open</li>
                    <li>Registration opens</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>9:40</td>
            <td>Registration closes</td>
        </tr>
        <tr>
            <td>9:45</td>
            <td>Player meeting</td>
        </tr>
        <tr>
            <td>9:50</td>
            <td>Round 1 pairings</td>
        </tr>
        <tr>
            <td>10:00</td>
            <td>Round 1 begins</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>~</td>
        </tr>
        <tr>
            <td>12:30</td>
            <td>Round 3 ends</td>
        </tr>
        <tr>
            <td></td>
            <td class="break">Lunch break</td>
        </tr>
        <tr>
            <td>14:35</td>
            <td>Round 4 parings</td>
        </tr>
        <tr>
            <td>14:40</td>
            <td>Round 4 begins</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>19:20</td>
            <td>Round 10 (final round) ends</td>
        </tr>
    </tbody>
</table>

<script>
    const day = new Date().getDate();
    console.debug(day)
    const anchor = `#day-${day}`;
    console.table("anchor", anchor);

    document.querySelector(anchor).scrollIntoView({ behavior: "smooth" });
</script>