<h2>
    Timing Structure of a Run (NSG CR v23.08, Section 6.9)
</h2>

<ol class="c1 lst-kix_vqcz20j1mvje-0 start" start="1">
    <li class="c8 li-bullet-0">
        Initiation Phase
        <ol class="c1 lst-kix_vqcz20j1mvje-1 start" start="1">
            <li class="c9 li-bullet-0"><span class="c0">The Runner announces the attacked server.</span></li>
            <li class="c9 li-bullet-0"><span class="c0">The Runner gains bad publicity credits.</span></li>
            <li class="c9 li-bullet-0"><span class="c0">The run begins.</span></li>
            <li class="c9 li-bullet-0"><span class="c0">Is there ice protecting server?</span></li>
        </ol>
    </li>
</ol>
<ol class="c1 lst-kix_vqcz20j1mvje-2 start" start="1">
    <li class="c19 c14 li-bullet-0"><span class="c6">If yes, go to </span><span class="c3">(2)</span><span
            class="c0">.</span></li>
    <li class="c19 c14 li-bullet-0"><span class="c6">If no, go to </span><span class="c3">(4)</span><span
            class="c0">.</span></li>
</ol>
<ol class="c1 lst-kix_vqcz20j1mvje-0" start="2">
    <li class="c8 li-bullet-0"><span class="c0">Approach Ice Phase</span></li>
</ol>
<ol class="c1 lst-kix_vqcz20j1mvje-1 start" start="1">
    <li class="c9 li-bullet-0"><span class="c0">The Runner approaches ice.</span></li>
    <li class="c9 li-bullet-0"><span class="c6">Paid ability window: </span><span class="c2">(Paid abilities) (Rez
            cards) (Rez ice)</span></li>
    <li class="c9 li-bullet-0"><span class="c0">Is the approached ice rezzed?</span></li>
</ol>
<ol class="c1 lst-kix_vqcz20j1mvje-2 start" start="1">
    <li class="c19 c14 li-bullet-0"><span class="c6">If yes, go to </span><span class="c3">(3)</span><span
            class="c0">.</span></li>
    <li class="c19 c14 li-bullet-0"><span class="c6">If no, go to </span><span class="c3">(4)</span><span
            class="c0">.</span></li>
</ol>
<ol class="c1 lst-kix_vqcz20j1mvje-0" start="3">
    <li class="c8 li-bullet-0"><span class="c0">Encounter Ice Phase</span></li>
</ol>
<ol class="c1 lst-kix_vqcz20j1mvje-1 start" start="1">
    <li class="c9 li-bullet-0"><span class="c0">The Runner encounters ice.</span></li>
    <li class="c9 li-bullet-0"><span class="c6">Paid ability window: </span><span class="c2">(Paid abilities) (Break
            subroutines)</span></li>
    <li class="c9 li-bullet-0"><span class="c0">Are there unbroken subroutines to resolve?</span></li>
</ol>
<ol class="c1 lst-kix_vqcz20j1mvje-2 start" start="1">
    <li class="c19 c14 li-bullet-0"><span class="c0">If yes, the Corp resolves the next one.</span></li>
    <li class="c19 c14 li-bullet-0"><span class="c6">If no, go to </span><span class="c3">(e)</span><span
            class="c0">.</span></li>
</ol>
<ol class="c1 lst-kix_vqcz20j1mvje-1" start="4">
    <li class="c9 li-bullet-0"><span class="c6">Return to </span><span class="c3">(c)</span><span
            class="c0">.</span></li>
    <li class="c9 li-bullet-0"><span class="c6">Go to </span><span class="c3">(4)</span><span class="c0">.</span>
    </li>
</ol>
<ol class="c1 lst-kix_vqcz20j1mvje-0" start="4">
    <li class="c8 li-bullet-0"><span class="c0">Movement Phase</span></li>
</ol>
<ol class="c1 lst-kix_vqcz20j1mvje-1 start" start="1">
    <li class="c9 li-bullet-0"><span class="c6">If the run got here from </span><span class="c3">(2)</span><span
            class="c6">&nbsp;or </span><span class="c3">(3)</span><span class="c0">, the Runner passes ice.</span>
    </li>
    <li class="c9 li-bullet-0"><span class="c6">Paid ability window: </span><span class="c2">(Paid abilities)</span>
    </li>
    <li class="c9 li-bullet-0"><span class="c0">The Runner may jack out.</span></li>
    <li class="c9 li-bullet-0"><span class="c0">The Runner moves 1 position inward, if possible.</span></li>
    <li class="c9 li-bullet-0"><span class="c6">Paid ability window: </span><span class="c2">(Paid abilities) (Rez
            cards)</span></li>
    <li class="c9 li-bullet-0"><span class="c0">Did the Runner move to a new position?</span></li>
</ol>
<ol class="c1 lst-kix_vqcz20j1mvje-2 start" start="1">
    <li class="c19 c14 li-bullet-0"><span class="c6">If yes, go to </span><span class="c3">(2)</span><span
            class="c0">.</span></li>
    <li class="c14 c19 li-bullet-0"><span class="c6">If no, go to </span><span class="c3">(g)</span><span
            class="c0">.</span></li>
</ol>
<ol class="c1 lst-kix_vqcz20j1mvje-1" start="7">
    <li class="c9 li-bullet-0"><span class="c0">The Runner approaches the server.</span></li>
    <li class="c9 li-bullet-0"><span class="c6">Go to </span><span class="c3">(5)</span><span class="c0">.</span>
    </li>
</ol>
<ol class="c1 lst-kix_vqcz20j1mvje-0" start="5">
    <li class="c8 li-bullet-0"><span class="c0">Success Phase</span></li>
</ol>
<ol class="c1 lst-kix_vqcz20j1mvje-1 start" start="1">
    <li class="c9 li-bullet-0"><span class="c0">The run is declared successful.</span></li>
    <li class="c9 li-bullet-0"><span class="c0">The Runner breaches the attacked server.</span></li>
    <li class="c9 li-bullet-0"><span class="c6">Go to </span><span class="c3">(6)</span><span class="c0">.</span>
    </li>
</ol>
<ol class="c1 lst-kix_vqcz20j1mvje-0" start="6">
    <li class="c8 li-bullet-0"><span class="c0">Run Ends Phase</span></li>
</ol>
<ol class="c1 lst-kix_vqcz20j1mvje-1 start" start="1">
    <li class="c9 li-bullet-0"><span class="c0">Close or resolve priority windows from before &quot;end the
            run&quot;.</span></li>
    <li class="c9 li-bullet-0"><span class="c0">The Runner loses unspent bad publicity credits.</span></li>
    <li class="c9 li-bullet-0"><span class="c0">If applicable, the run is declared unsuccessful.</span></li>
    <li class="c9 li-bullet-0"><span class="c0">The run is complete.</span></li>
</ol>
<p class="c19 c7"><span class="c10"></span></p>
<p class="c5"><span class="c17 c12">Spectators</span></p>
<p class="c5"><span class="c6">Spectating is allowed. </span><span class="c6">A spectator must ensure that any
        comments they make are inaudible to either player. Spectators should take care to minimize their reactions
        to hidden information. Spectators should be at least arm&rsquo;s length away from the table and
        players.</span>
    <hr style="page-break-before:always;display:none;">
</p>
<p class="c5"><span class="c12 c17">Penalties</span></p>
<ul class="c1 lst-kix_qkber01cj2dv-0 start">
    <li class="c8 c22 li-bullet-0"><span class="c0">Warning: Has no effect on the game being conducted. Judges
            should record warnings issued. If a player receives three warnings for the same offense, it should be
            upgraded. </span></li>
    <li class="c8 c22 li-bullet-0"><span class="c6">Game loss: Immediate loss of the current game. Record the result
            as if the players had played the game. If players have games remaining they may continue to the next
            game. If a game loss is given to a player not currently playing a game, that player forfeits their next
            game instead. If there are two games in that match, the side for which they take a loss should be
            selected randomly.</span></li>
</ul>
<p class="c5 c7"><span class="c6 c16"></span></p>
<p class="c5"><span class="c17 c12">Repairing Board States (NSG OPP, Section 5)</span></p>
<p class="c5"><span class="c2">Missed triggers</span></p>
<p class="c5"><span class="c0">Players are responsible for their own optional triggers. If a player misses a
        mandatory trigger that is generally negative, they receive a warning. Triggers should be granted
        &ldquo;late&rdquo; only if the decision tree both players have assessed is small relative to the value of
        the trigger.</span></p>
<p class="c5 c7"><span class="c0"></span></p>
<p class="c5"><span class="c2">Revealed and surplus information</span></p>
<ul class="c1 lst-kix_4eonuo1lwqo3-0 start">
    <li class="c8 c22 li-bullet-0"><span class="c0">If a player reveals a card that should be unknown to one or both
            players:</span></li>
</ul>
<ul class="c1 lst-kix_4eonuo1lwqo3-1 start">
    <li class="c4 li-bullet-0"><span class="c0">If the non-controlling player revealed that information, they
            receive a game loss.</span></li>
    <li class="c4 li-bullet-0"><span class="c0">If it was their own card, their opponent is free to use that
            information to their advantage.</span></li>
</ul>
<ul class="c1 lst-kix_4eonuo1lwqo3-2 start">
    <li class="c5 c14 li-bullet-0"><span class="c6">If the player did not know the card&rsquo;s identity previously
            and could make decisions before that information would normally be revealed, issue a warning.
        </span><span class="c20 c3">(For example, the top card of R&amp;D: if the corp had opportunities to change
            their rezzes because they know the top of R&amp;D, R&amp;D is shuffled and the runner accesses a new
            card.)</span></li>
</ul>
<ul class="c1 lst-kix_2nfq44lei31-0 start">
    <li class="c8 c22 li-bullet-0"><span class="c0">If a player draws too many cards and they cannot be
            distinguished from other cards:</span></li>
</ul>
<ul class="c1 lst-kix_2nfq44lei31-1 start">
    <li class="c4 li-bullet-0"><span class="c0">If they have actions/active abilities that allow them to draw that
            many cards, they must do so and receive a warning</span></li>
    <li class="c4 li-bullet-0"><span class="c0">If they do not have such actions/active abilities, they receive a
            game loss.</span></li>
</ul>
<ul class="c1 lst-kix_m36s8unrmumq-0 start">
    <li class="c8 c22 li-bullet-0"><span class="c0">If a player does not sufficiently shuffle their deck, they
            receive a warning.</span></li>
    <li class="c8 c22 li-bullet-0"><span class="c0">If cards must be returned to a randomized zone (e.g., the
            stack), they should be shuffled there even if there normally would not be a shuffle effect. If the zone
            is partially ordered: the known, ordered portion is set aside, the remaining cards are shuffled, then
            the ordered portion is returned to the known position. If players have only an estimate of the number of
            ordered cards, set aside a number close to the estimate and shuffle the remaining cards.</span></li>
</ul>
<p class="c5 c7"><span class="c0"></span></p>
<p class="c5"><span class="c2">Illegal boardstates</span></p>
<ul class="c1 lst-kix_z7s3y15oidac-0 start">
    <li class="c8 c22 li-bullet-0"><span class="c0">An illegal board state should only be fixed if it is detected
            immediately. </span></li>
</ul>
<ul class="c1 lst-kix_z7s3y15oidac-1 start">
    <li class="c4 li-bullet-0"><span class="c0">If the opponent made decisions about activating abilities since the
            board became illegal, it is a game loss for the player with that illegal board state.</span></li>
    <li class="c4 li-bullet-0"><span class="c0">&nbsp;If play has not progressed past the illegal boardstate, issue
            a warning and attempt to unwind it (see the rest of this section).</span></li>
</ul>
<ul class="c1 lst-kix_z7s3y15oidac-2 start">
    <li class="c5 c14 li-bullet-0"><span class="c0">If the illegal board state cannot be unwound, issue a game loss
            instead.</span></li>
</ul>
<ul class="c1 lst-kix_nl3yffpn3avt-0 start">
    <li class="c8 c22 li-bullet-0"><span class="c0">If there are illegally installed cards, trash them until the
            board state is legal. If an Operation or Event was played illegally, return it to the zone of origin,
            and reset the board to how it was before any costs were paid.</span></li>
    <li class="c8 c22 li-bullet-0"><span class="c0">If information about an unknown zone was obtained during the
            resolution of the illegal board state, re-randomize the zone.</span></li>
    <li class="c8 c22 li-bullet-0"><span class="c0">If a card was shuffled into a deck incorrectly: if both players
            knew its identity, return it back to its original zone; if only one player knew the identity, the board
            state cannot be unwound. </span></li>
</ul>
<p class="c5 c7"><span class="c0"></span></p>
<p class="c5"><span class="c2">Take backs</span></p>
<p class="c5"><span class="c6">If the player requesting a take back gained no information about the board or the
        order of their own deck, it should be granted. In other cases the judge should default to not granting take
    </span><span class="c6">backs.</span>
    <hr style="page-break-before:always;display:none;">
</p>
<p class="c5"><span class="c12">FAQ</span></p>
<p class="c5"><span class="c13 c18 c11">Runner</span></p>
<p class="c5"><span class="c6 c11">Can the Runner decline to use the </span><span class="c3 c11">Hermes</span><span
        class="c2">&nbsp;ability?</span></p>
<p class="c5"><span class="c0">No, the ability from Hermes is mandatory.</span></p>
<p class="c5 c7"><span class="c0"></span></p>
<p class="c5"><span class="c2">Arissana approaches a piece of ice. What are the appropriate timings to use paid
        abilities?</span></p>
<ol class="c1 lst-kix_30gqxg6njjm3-0 start" start="1">
    <li class="c8 c22 li-bullet-0"><span class="c0">The Runner has priority, so they can choose to immediately use
            any paid abilities, such as Arissana&rsquo;s install. This decision is made before the Corp has the
            window to rez ice.</span></li>
    <li class="c8 c22 li-bullet-0"><span class="c0">If both the Runner and the Corp pass on the window, the window
            is gone. The Runner cannot then choose to use Arissana&rsquo;s install ability and pass an unrezzed
            ice.</span></li>
    <li class="c8 c22 li-bullet-0"><span class="c0">After the Corp has rezzed a piece of ice, the Runner has an
            opportunity to use a paid ability again after the Corp is done with their paid abilities. For example,
            to use Arissana&rsquo;s install ability.</span></li>
</ol>
<p class="c5 c7"><span class="c0"></span></p>
<p class="c5"><span class="c6 c11">Can the Runner install Hush to deny the bonus strength of Stavka after its
        &ldquo;when encountered&rdquo; ability has been used?</span><span class="c6">&nbsp;</span><span
        class="c6 c11">What about Gatekeeper?</span><span class="c0"><br>No, the ability that gains Stavka&rsquo;s
        strength is a lingering ability separate from the hushed Stavka.</span></p>
<p class="c5 c7"><span class="c0"></span></p>
<p class="c5"><span class="c2">Can the Runner install Hush to deny the +6 strength of Gatekeeper after it has been
        rezzed?</span></p>
<p class="c5"><span class="c0">Yes, the Gatekeeper ability is a static ability, which is not separate from the
        hushed Gatekeeper.</span></p>
<p class="c5 c7"><span class="c0"></span></p>
<p class="c5"><span class="c2">A Hush is hosted on a Magnet. Which one loses its abilities?</span></p>
<p class="c5"><span class="c0">Hosted cards &ldquo;win&rdquo; against their host, so Magnet loses its non-subroutine
        abilities. Other programs hosted on a Hushed Magnet also retain their abilities.</span></p>
<p class="c5 c7"><span class="c0"></span></p>
<p class="c5"><span class="c2">If the Runner plays Bravado and trashes an installed ice with Hippo, does Bravado
        consider that as a passed piece of ice?</span></p>
<p class="c5"><span class="c0">No, the ice is not passed and Bravado does not pay out an extra credit.</span></p>
<p class="c5 c7"><span class="c0"></span></p>
<p class="c5"><span class="c2">If the Runner installs The Twinning using a credit from Paladin Poemu, does The
        Twinning get a power counter when it is installed?</span></p>
<p class="c5"><span class="c0">No. Additionally, if a hosted credit is used later on in the turn this happens, The
        Twinning also does not get a power counter.</span></p>
<p class="c5 c7"><span class="c0"></span></p>
<p class="c5"><span class="c2">Does installing Keiko gain 1c if it is the first use or installation of a Companion
        this turn?</span></p>
<p class="c5"><span class="c6">Yes. Keiko&#39;s trigger condition is met when installing a companion is complete,
        but Keiko becomes active at the step before that. Note that Keiko isn&rsquo;t active yet when a Paladin
        Poemu credit is used to </span><span class="c6">install</span><span class="c0">&nbsp;it.</span></p>
<p class="c5 c7"><span class="c0"></span></p>
<p class="c5"><span class="c2">When is the last chance for the Runner to install Clot with Self-Modifying Code or
        Simulchip?</span></p>
<p class="c5"><span class="c0">Once the corp advances an agenda for the final time, they have priority in the
        following PAW to then score the agenda before the runner can pull Clot. Clot should be installed in the PAW
        before the Corp takes the action that puts the last agenda counter(s) needed to score the agenda. If the
        Corp installs a card and the Runner does not install Clot, the Corp can use Audacity to place advancement
        counters on a 2-point agenda and score it in the following PAW without the Runner having a chance to
        act.</span></p>
<p class="c5 c7"><span class="c0"></span></p>
<p class="c5"><span class="c2">Does Aumakua get a counter if the Runner plays Pinhole Threading and does not trash
        the card?</span></p>
<p class="c5"><span class="c6">No. Pinhole Threading replaces the breach so Aumakua does not trigger </span><span
        class="c3 c20">(Aumakua&rsquo;s most current text is &ldquo;Whenever you finish breaching a server&rdquo;,
        not &ldquo;Whenever you&hellip;access cards&rdquo;).</span></p>
<hr style="page-break-before:always;display:none;">
<p class="c5 c7"><span class="c18 c6 c11 c24"></span></p>
<p class="c5"><span class="c11 c13">Corp</span></p>
<p class="c5"><span class="c2">When should the Corp use Mavirus when Clot is installed?</span></p>
<p class="c5"><span class="c0">In the PAW after all advancement counters have been placed on an agenda, the Corp has
        priority in the PAW. This window can be used to rez and trash Mavirus, purging Clot and then scoring the
        agenda. The Runner does not have a chance to act, since these paid abilities are all used in one priority
        window.</span></p>
<p class="c5 c7"><span class="c0"></span></p>
<p class="c5"><span class="c2">Do Asa Group/A Teia meet their trigger conditions when Tatu-Bola swaps with an ice
        from HQ?</span></p>
<p class="c5"><span class="c0">Yes, if something is swapped into play from a zone other than the play area, that
        swap will meet install trigger conditions. This is different from a swap within the play area, like with
        Thimblerig.</span></p>
<p class="c5 c7"><span class="c0"></span></p>
<p class="c5"><span class="c2">Does the Corp have an opportunity to rez Spin Doctor to deny Lat: Ethical Freelancer
        their draw?</span></p>
<p class="c5"><span class="c0">Yes. After the Runner has discarded down to hand size, the Corp has the chance to use
        Spin Doctor. If the Runner no longer meets Lat&rsquo;s condition, then they will not draw a card. </span>
</p>
<p class="c5 c7"><span class="c0"></span></p>
<p class="c22 c23"><span class="c6 c11">If the Corp trashes a card with a printed rez cost of 3 to pay the
        additional cost to score </span><span class="c6 c11">Azef Protocol</span><span class="c6 c11">, can they use
    </span><span class="c6 c11">Ob </span><span class="c6 c11">to install Tucana into the root of the same server as
        the </span><span class="c6 c11">Azef Protocol</span><span class="c6 c11">? Can they then resolve
        Tucana&rsquo;s ability?<br></span><span class="c6">Yes and yes.<br><br></span><span class="c6 c11">Can the
        Corp use </span><span class="c6 c11">Ob </span><span class="c6 c11">while resolving the additional cost on
    </span><span class="c6 c11">Azef Protocol</span><span class="c6 c11">&nbsp;to install an asset in the root of
        the same server as </span><span class="c6 c11">Azef Protocol</span><span class="c6 c11">?</span><span
        class="c6"><br>It is not possible to do this and still score the </span><span class="c6">Azef
        Protocol</span><span class="c6">.<br><br></span><span class="c6 c11">Can the Corp trash </span><span
        class="c6 c11">Reconstruction Contract</span><span class="c6 c11">&nbsp;to use its paid ability, install a
        card with </span><span class="c6 c11">Ob</span><span class="c6 c11">, and then resolve the ability to place
        an advancement counter on the card that was just installed?</span><span class="c6 c11">&nbsp;</span><span
        class="c6"><br>Yes, as long as there is at least 1 installed card the Corp can advance.<br><br></span><span
        class="c6 c11">Can the Runner force the corp to shuffle R&amp;D by letting the first Gatekeeper sub fire,
        even if the Corp does not draw or reveal any agendas?</span><span class="c6"><br>Yes.<br><br></span><span
        class="c6 c11">Can the Corp search ice with Tucana and install it if they can&#39;t afford the rez
        cost?<br></span><span>Yes. The ice will remain unrezzed, but the Corp must reveal it to show that they could
        not rez it.</span><span class="c6"><br><br></span><span class="c6 c11">If the Runner steals Bacterial
        Programming from Archives, what happens if the Corp uses its ability to trash any cards?<br></span><span
        class="c6">The cards trashed by Bacterial Programming enter Archives facedown. The Runner must access those
        facedown cards like any other cards that have not been accessed yet. The accessed facedown cards are
        returned to Archives facedown when the access phase ends.<br><br></span><span class="c6 c11">When should the
        Corp use Spin Doctor if they don&rsquo;t want it to be accessed by Pinhole Threading?</span><span
        class="c0"><br>The Corp should use Spin Doctor in the PAW before the Runner approaches the server. At this
        point, the Runner has made no decision yet on which card they will access with Pinhole Threading</span></p>