/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
table.schedule {
  border: 1px solid black;
  border-collapse: collapse;
  margin-top: 2rem;
}
table.schedule td {
  border: 1px solid black;
  text-align: center;
  padding: 0 10px;
}
table.schedule td.busy {
  background-color: #cde6f2;
  overflow: hidden;
  padding: 0.5rem;
}
table.schedule td.busy a {
  display: block;
  margin: -10em;
  padding: 10em;
  color: #0e1b4d;
}
table.schedule td.break {
  background-color: #ffb;
}
table.schedule td.day {
  padding: 2rem;
  font-weight: bold;
  font-size: 2rem;
}
table.schedule tr:hover {
  background-color: #cfc;
}
table.schedule ul {
  list-style: none;
}

.footer {
  height: 2em;
}

.tiktok {
  border: 1px solid black;
  padding: 1rem;
}

.tiktok--title {
  font-weight: bold;
}

.tiktok.paused .tiktok--title::after {
  content: " (paused)"
}
