<style>
    footer { 
        position: sticky;
        bottom: 0px;
        background-color: #333;
        color: white;
        padding: 0.5em;
        margin: -8px;
    }

    .wrapper {
        padding-bottom: 2em;
    }
</style>

<footer>
    <p> Null Signal Games </p>
</footer>